{% extends 'base.html' %}
{% block content %}

{%  for product in products.all %}
<div class="border pt-3 pl-3 pb-3 pr-3 mt-4">
    <div class="row">
        <div class="col-2 " onclick="window.location='{% url 'detail' product.id %}'" style="cursor:pointer">
            <img src="{{ product.icon.url }}" class="img-fluid "/>
        </div>
        <div class="col-7" onclick="window.location='{% url 'detail' product.id %}'" style="cursor:pointer">
            <h2>{{product.title}}</h2>
            <P> {{product.summary}}</P>
        </div>
        <div class="col-3">
            <a href="javascript:{document.getElementById('upvote{{product.id}}').submit()}">
                <butoton class="btn btn-primary btn-lg btn-block"><i class="material-icons">
                    arrow_upward
                </i> Upvote {{product.votes_total}}
                </butoton>
            </a>

        </div>
    </div>
</div>
<form id="upvote{{product.id}}" method="POST" action="{% url 'upvote' product.id %}">
                {% csrf_token %}
                <input type="hidden">
            </form>
{% endfor %}


{% endblock %}